<div class="row">
  <div class="col-xs-12">
    <img src="{{sentRecipeToDetails.imagePath}}"
     alt="" class="img-responsive" 
     class="img-responsive"
     style="max-height: 300px;"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{sentRecipeToDetails.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"(click)="onSentToSL()">To shopping List</a></li> 
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{sentRecipeToDetails.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let ingredient of sentRecipeToDetails.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
    </div>
</div>
