<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit> </app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        href="#"
        class="list-group-item"
        style="cursor: pointer;"
        *ngFor="let ingredient of ingredients"
      >
        {{ ingredient.name }}({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="Name">Name</label>
          <input type="text" id="Name" class="form-control" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">
            Delete Ingredient
          </button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
